#index {
    background: #eee;
}

.comments .text {
    white-space: pre-wrap;
    white-space: pre-line; /* breaks long URLs and such */
}

.severity-normal a {
    color: #106581 !important;
}

.severity-enhancement a {
    color: #106581 !important;
}

.severity-major a {
    color: #D30000 !important;
}

.severity-minor a {
    color: #669900 !important;
}

.severity-blocker a {
    color: red !important;
    font-weight: bold;
}

.status-resolved a {
    color: gray !important;
}

.comments-list {
    display: none; /* initial hide */
}

.comment-post-spinner {
    display: none; /* initial hide */
}

.spinner-line {
    padding-left: 40px;
    background: url(spinner-mdpi.gif) no-repeat 10px center;
    background-size: 16px 16px;
}


@media screen and (-webkit-device-pixel-ratio: 2.0) {
    .spinner-line {
        background-image: url(spinner-xhdpi.gif) !important;
    }
}
